#Folder
Crunchyroll Downloader/bin/
Crunchyroll Downloader/bin
Crunchyroll Downloader/obj/
Crunchyroll Downloader/obj
/CrunchyrollDownloaderTests/obj
/CrunchyrollDownloaderTests/obj/
/CrunchyrollDownloaderTests/bin/Debug/net6.0
/CrunchyrollDownloaderTests/bin/Debug/net6.0/
CRD-addon/
packages/
.vs/

#Files
*.zip
*.mp4
*.log
*.key
*.bak
/.vs/Crunchyroll Downloader/v17/.suo

